* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

.wrap {
    padding: 100px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
}

.pricing-title {
    background-color: rgb(248, 129, 202);
    padding: 20px;
    margin-bottom: 80px;
    text-align: center;
}

.pricing-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.pricing-div__card {
    border: 1px solid black;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    flex-basis: 320px;
}

.pricing-div__card h2,
.pricing-div__card h3 {
    text-align: center;
}

.pricing-div__card h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.pricing-div__card h3 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700px;
}



.pricing-div__card-content {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
}

.pricing-div__card-content li {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
}